/* 清除默认的内外边距 */
* {
    margin: 0px;
    padding: 0px;
}
/*字体*/
h1,h3, h4, h5, h6, ul, ol, dl, dt, dd, li {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #666764;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 2.62;
}
/*版心*/

/*浮动*/
.fl {
    float: left;
}
.fr {
    float: right;
}
/* 让所有i不斜体 */
em,
i {
    font-style: normal;
}
/*去掉列表前面的小点  */
li {
    list-style: none;
}
/* 图片没有边框,去掉图片地侧的空白空隙 */
img {
    border: 0;/* ie6 */
    vertical-align: middle;
}
/* 按钮变小手 */
button {
    cursor: pointer;
}
/* 取消链接的下划线 */
a {
    color: #3377aa;
    text-decoration: none;
}
.a-red {
    color: #CB1128;
}
button,
input {
    font-family: 'Microsoft YaHei','Heiti SC',tahoma,arial,'Hiragino Sans GB'
    ,\\5B8B\4F53,sans-serif;
    outline:none;
}

/* 清除浮动 */
.clearfix:after {
    content: "";
    display: block;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}
.clearfix {
    *zoom:1;
}